<nav
    class="bg-base fixed top-0 left-0 z-10 flex h-[70px] w-full items-center justify-evenly pt-[10px] pr-[5vw] pb-[10px] pl-[5vw]">
    <div class="flex h-[50px] w-[50px] grow-2 items-center justify-start">
        <a href="/" class="flex h-[50px] w-[50px] items-center no-underline">
            {{ partial "logos/ojasb.svg" . }}
        </a>
    </div>
    <input type="checkbox" id="sidebar" class="peer hidden" />
    <label
        for="sidebar"
        class="flex h-[32px] w-[32px] cursor-pointer items-center justify-center md:hidden">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            class="h-full w-full fill-current stroke-current">
            <path
                d="M140-254.62v-59.99h680v59.99H140ZM140-450v-60h680v60H140Zm0-195.39v-59.99h680v59.99H140Z" />
        </svg>
    </label>
    <label
        id="overlay"
        for="sidebar"
        class="peer-checked:bg-base peer-checked:fixed peer-checked:top-0 peer-checked:left-0 peer-checked:z-10 peer-checked:size-full peer-checked:cursor-pointer peer-checked:opacity-90">
    </label>
    <div
        class="fixed top-[10px] -right-[300px] flex h-screen w-[300px] flex-col justify-start bg-inherit transition-all duration-300 peer-checked:right-0 peer-checked:z-20 md:static md:right-0 md:h-auto md:w-auto md:flex-row md:justify-evenly">
        <label
            for="sidebar"
            class="bold flex h-[44px] w-[44px] cursor-pointer items-center justify-center bg-inherit text-inherit md:hidden">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
                class="h-[32px] w-[32px] fill-current stroke-current">
                <path
                    d="M256-213.85 213.85-256l224-224-224-224L256-746.15l224 224 224-224L746.15-704l-224 224 224 224L704-213.85l-224-224-224 224Z" />
            </svg>
        </label>
        {{ $page := . }}
        {{ range .Site.Menus.main }}
            {{ if $page.IsMenuCurrent .Menu . }}
                <a
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    class="bg-red hover:bg-mauve flex h-[44px] w-full cursor-pointer items-center rounded-md pr-[2em] pl-[2em] text-base md:w-auto">
                    {{ .Name }}
                </a>
            {{ else }}
                <a
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    class="hover:bg-mauve flex h-[44px] w-full cursor-pointer items-center rounded-md bg-inherit pr-[2em] pl-[2em] hover:text-base md:w-auto">
                    {{ .Name }}
                </a>
            {{ end }}
        {{ end }}
        <button
            id="theme-switch"
            class="hover:bg-mauve flex h-[44px] w-full cursor-pointer flex-row items-center justify-start rounded-md bg-inherit pl-[2em] hover:text-base md:w-[44px] md:justify-center md:pl-0">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
                class="block h-[24px] w-[24px] fill-current stroke-current dark:hidden">
                <path
                    d="M480-300q-74.92 0-127.46-52.54Q300-405.08 300-480q0-74.92 52.54-127.46Q405.08-660 480-660q74.92 0 127.46 52.54Q660-554.92 660-480q0 74.92-52.54 127.46Q554.92-300 480-300ZM200-450H50v-60h150v60Zm710 0H760v-60h150v60ZM450-760v-150h60v150h-60Zm0 710v-150h60v150h-60ZM262.92-656.92l-93.69-90.46 42.39-44.39 90.23 92.69-38.93 42.16Zm485.46 488.69-90.84-93.31 39.54-41.54 93.69 90.46-42.39 44.39Zm-91.46-528.85 90.46-93.69 44.39 42.39-92.69 90.23-42.16-38.93ZM168.23-211.62l93.31-90.84 40.77 39.54-90.08 94.07-44-42.77Z" />
            </svg>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
                class="hidden h-[24px] w-[24px] fill-current stroke-current dark:block">
                <path
                    d="M481.15-140q-141.66 0-240.83-99.17-99.16-99.16-99.16-240.83 0-135.77 92.11-232.88 92.11-97.12 225.57-105.2 8.62 0 16.93.62 8.3.62 16.3 1.85-30.61 28.61-48.76 69.15-18.16 40.54-18.16 86.46 0 98.33 68.84 167.17Q562.82-424 661.15-424q46.54 0 86.77-18.15 40.23-18.16 68.46-48.77 1.23 8 1.85 16.31.61 8.3.61 16.92-7.69 133.46-104.8 225.57Q616.92-140 481.15-140Z" />
            </svg>
        </button>
    </div>
</nav>
