:root {
    --base-color: #fbf1c7;
    --secondary-base: #bdae93;
    --text-color: #282828;
    --red: #cc241d;
    --accent: #b16286;
}

.darkmode {
    --base-color: #282828;
    --secondary-base: #665c54;
    --text-color: #fbf1c7;
    --red: #cc241d;
    --accent: #b16286;
}

* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

html {
    body {
        color: var(--text-color);
        background-color: var(--base-color);
        font-family: "Source Serif 4";
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;

        header {
            nav {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                background-color: var(--base-color);

                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    margin-top: 0px;
                    padding: 0px;

                    li {
                        display: flex;
                        height: 100%;

                        a {
                            display: flex;
                            text-decoration: none;
                            color: var(--text-color);
                        }
                    }

                    .home-li {
                        margin-right: auto;
                        padding: 0.5em 2em;
                        padding-left: 0px;
                    }
                    .active-page,
                    .passive-page {
                        padding-left: 2em;
                        padding-right: 2em;
                        display: flex;
                        align-items: center;
                        &:hover {
                            a {
                                color: var(--accent);
                            }
                            border-bottom: var(--accent) solid 2px;
                        }
                    }

                    .active-page {
                        a {
                            color: var(--red);
                        }
                        border-bottom: var(--red) solid 2px;
                    }

                    .theme-switch-li {
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                    }
                }
            }
        }
        main {
            padding-top: 1em;
            width: calc(min(975px, 90%));
            margin: auto;
            font-family: "Source Serif 4";
            font-size: 18px;

            a {
                color: var(--accent);
            }

            h1 {
                border-bottom: dotted;
                border-width: 1px;
                border-radius: 1px;
            }

            h1,
            h2 {
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            .quotefigure {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                &::before {
                    content: open-quote;
                    font-weight: bold;
                    font-size: 50px;
                    align-self: start;
                }
                &::after {
                    content: close-quote;
                    font-weight: bold;
                    font-size: 50px;
                    align-self: end;
                }

                .quotebox {
                    flex: 1;
                    .sectionquotes {
                        font-weight: 400;
                        font-style: italic;
                        .quotecite {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

#theme-switch {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border-width: 0px;
    background-color: var(--secondary-base);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
        fill: var(--text-color);
        &:first-child {
            display: block;
            visibility: visible;
        }
        &:last-child {
            display: none;
            visibility: hidden;
        }
    }
}

.darkmode {
    #theme-switch {
        svg {
            &:first-child {
                display: none;
                visibility: hidden;
            }
            &:last-child {
                display: block;
                visibility: visible;
            }
        }
    }
}
.home-li {
    img {
        &:first-child {
            display: block;
            visibility: visible;
        }
        &:last-child {
            display: none;
            visibility: hidden;
        }
    }
}
.darkmode {
    .home-li {
        img {
            &:first-child {
                display: none;
                visibility: hidden;
            }
            &:last-child {
                display: block;
                visibility: visible;
            }
        }
    }
}
