:root {
    --primary-base: #1e1e2e;
    --secondary-base: #585b70;
    --text-color: #cdd6f4;
    --primary-accent: #89b4fa;
    --secondary-accent: #f38ba8;
}
* {
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
html {
    body {
        color: var(--text-color);
        background-color: var(--primary-base);
        font-family: "Source Serif 4";
        font-size: 18px;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-height: 100dvh;
        header {
            nav {
                height: 65px;
                width: 100%;
                display: flex;
                background-color: var(--primary-base);
                position: fixed;
                top: 0;
                left: 0;
                .navbox {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 5vw 0 5vw;
                    a {
                        height: 44px;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: inherit;
                    }
                    .home-link {
                        margin: 0 auto 0 0;
                        .logobox {
                            height: 50px;
                            width: 50px;
                            svg {
                                height: 100%;
                                width: 100%;
                                path {
                                    fill: var(--text-color);
                                }
                            }
                        }
                    }
                    svg {
                        fill: var(--text-color);
                    }
                    .open-sidebar-button {
                        display: none;
                    }
                    #sidebar-active {
                        display: none;
                    }
                    .links-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .close-sidebar-button {
                            display: none;
                            svg {
                                fill: var(--text-color);
                            }
                        }
                        .inactive-page {
                            padding: 0 2em 0 2em;
                            border-radius: 5px;
                            &:hover {
                                color: var(--primary-base);
                                background-color: var(--primary-accent);
                            }
                        }
                        .active-page {
                            color: var(--primary-base);
                            background-color: var(--secondary-accent);
                            padding: 0 2em 0 2em;
                            border-radius: 5px;
                            &:hover {
                                color: var(--primary-base);
                                background-color: var(--primary-accent);
                            }
                        }
                        #theme-switch {
                            background-color: var(--primary-base);
                            width: 44px;
                            height: 44px;
                            display: flex;
                            justify-content: center;
                            border-width: 0px;
                            border-radius: 5px;
                            align-items: center;
                            cursor: pointer;
                            svg {
                                width: 24px;
                                height: 24px;
                                fill: var(--text-color);
                                &:first-child {
                                    display: block;
                                    visibility: visible;
                                }
                                &:last-child {
                                    display: none;
                                    visibility: hidden;
                                }
                            }
                            &:hover {
                                background-color: var(--primary-accent);
                                svg {
                                    fill: var(--primary-base);
                                }
                            }
                        }
                    }
                }
            }
        }
        main {
            width: calc(min(975px, 90%));
            margin: auto;
            margin-top: 100px;
            font-size: 18px;
            flex-grow: 1;
            a {
                color: var(--secondary-accent);
            }
            h1 {
                border-bottom: dotted;
                border-width: 1px;
                border-radius: 1px;
            }
            h1,
            h2 {
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            blockquote {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                div {
                    font-style: italic;
                    flex: 1;
                    cite {
                        float: right;
                        font-style: normal;
                        a {
                            text-decoration: underline;
                            color: inherit;
                        }
                        &::before {
                            content: "\2014";
                        }
                    }
                }
                &::before {
                    margin-right: 2rem;
                    content: open-quote;
                    font-weight: bold;
                    font-size: 50px;
                    align-self: start;
                    color: var(--secondary-base);
                }
                &::after {
                    margin-left: 2rem;
                    content: close-quote;
                    font-weight: bold;
                    font-size: 50px;
                    align-self: end;
                    color: var(--secondary-base);
                }
            }
        }
        footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            .container {
                padding: 0 20px 30px 20px;
                display: flex;
                border-top: 1px dotted var(--secondary-accent);
                .contact {
                    flex-grow: 1;
                    flex-basis: 100%;
                    margin: 10px;
                    .contact-buttons {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            span {
                                font-size: 0px;
                                padding: 0;
                                height: 42px;
                                line-height: 42px;
                                user-select: text;
                                color: white;
                                white-space: nowrap;
                                background-color: var(--logo-color);
                                position: absolute;
                                cursor: text;
                                opacity: 0;
                                border-radius: 50vh;
                                transition: 0.3s
                                    cubic-bezier(0.42, 0, 0.44, 1.68);
                            }
                            a {
                                display: flex;
                                place-items: center;
                                justify-content: center;
                                background-color: var(--text-color);
                                flex-shrink: 0;
                                height: 48px;
                                width: 48px;
                                border-radius: 24px;
                                svg {
                                    height: 32px;
                                    fill: var(--primary-base);
                                }
                            }
                            &:has(> a:hover),
                            &:has(> span:hover) {
                                span {
                                    transition: 0.3s
                                        cubic-bezier(0.42, 0, 0.44, 1.68);
                                    font-size: 16px;
                                    padding: 0 8px 0 8px;
                                    opacity: 100%;
                                    transform: translateY(-50px);
                                }
                                a {
                                    background-color: var(--logo-color);
                                    svg {
                                        fill: white;
                                    }
                                    &::before {
                                        content: "";
                                        opacity: 0;
                                        height: 32px;
                                        width: 48px;
                                        position: absolute;
                                        top: -8px;
                                    }
                                }
                            }
                        }
                    }
                }
                .connect {
                    flex-grow: 1;
                    flex-basis: 100%;
                    margin: 10px;
                    .connect-buttons {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: relative;
                            span {
                                font-size: 0px;
                                padding: 0;
                                height: 42px;
                                line-height: 42px;
                                user-select: text;
                                white-space: nowrap;
                                color: white;
                                background-color: var(--logo-color);
                                position: absolute;
                                cursor: text;
                                opacity: 0;
                                border-radius: 50vh;
                                transition: 0.3s
                                    cubic-bezier(0.42, 0, 0.44, 1.68);
                            }
                            a {
                                display: flex;
                                place-items: center;
                                justify-content: center;
                                background-color: var(--text-color);
                                flex-shrink: 0;
                                height: 48px;
                                width: 48px;
                                border-radius: 24px;
                                svg {
                                    height: 32px;
                                    fill: var(--primary-base);
                                }
                            }
                            &:has(> a:hover),
                            &:has(> span:hover) {
                                span {
                                    transition: 0.3s
                                        cubic-bezier(0.42, 0, 0.44, 1.68);
                                    font-size: 16px;
                                    padding: 0 8px 0 8px;
                                    opacity: 100%;
                                    transform: translateY(-50px);
                                }
                                a {
                                    background-color: var(--logo-color);
                                    svg {
                                        fill: white;
                                    }
                                    &::before {
                                        content: "";
                                        opacity: 0;
                                        height: 32px;
                                        width: 48px;
                                        position: absolute;
                                        top: -8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .copyright {
                padding: 5px 0;
                text-align: center;
                border-top: 1px dotted var(--secondary-accent);
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    display: flex;
                    place-items: center;
                    svg {
                        height: 18px;
                        fill: #ff4088;
                        padding: 0 0 0 5px;
                    }
                    margin-right: auto;
                }
            }
        }
    }
    .lightmode {
        --primary-base: #eff1f5;
        --secondary-base: #acb0be;
        --text-color: #4c4f69;
        --primary-accent: #7287f7;
        --secondary-accent: #d20f39;
        header {
            nav {
                .navbox {
                    .links-container {
                        #theme-switch {
                            svg {
                                &:first-child {
                                    display: none;
                                    visibility: hidden;
                                }
                                &:last-child {
                                    display: block;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 784px) {
    html {
        body {
            header {
                nav {
                    .navbox {
                        #sidebar-active {
                            &:checked ~ .links-container {
                                right: 0;
                            }
                            &:checked ~ #overlay {
                                background-color: var(--primary-base);
                                opacity: 0.9;
                                height: 100%;
                                width: 100%;
                                position: fixed;
                                top: 0;
                                left: 0;
                                z-index: 99;
                                cursor: pointer;
                            }
                        }
                        .open-sidebar-button {
                            display: block;
                            cursor: pointer;
                        }
                        .links-container {
                            flex-direction: column;
                            align-items: flex-start;
                            position: fixed;
                            top: 0;
                            right: -100%;
                            z-index: 100;
                            width: 300px;
                            height: 100vh;
                            background-color: var(--primary-base);
                            transition: 0.3s ease;
                            .close-sidebar-button {
                                display: block;
                                margin: 20px 30px;
                                cursor: pointer;
                            }
                            .active-page {
                                box-sizing: border-box;
                                height: auto;
                                width: 100%;
                                padding: 10px 30px;
                            }
                            .inactive-page {
                                box-sizing: border-box;
                                height: auto;
                                width: 100%;
                                padding: 10px 30px;
                            }
                            #theme-switch {
                                justify-content: flex-start;
                                padding: 10px 30px;
                                box-sizing: border-box;
                                height: auto;
                                width: 100%;
                                background-color: var(--primary-base);
                            }
                        }
                    }
                }
            }
            footer {
                .container {
                    flex-direction: column;
                }
            }
        }
    }
}
