{{ define "photonav" }}
    {{ partial "header/photonav.html" . }}
{{ end }}
{{ define "main" }}
    <section class="flex justify-center">
        {{ with .Resources.ByType "image" }}
            {{ range . }}
                {{ $image := .Resize "2000x webp q85" }}
                <img
                    loading="lazy"
                    src="{{ $image.RelPermalink }}"
                    class="max-h-[85vh] max-w-full"
                    alt="{{ $.Description }}" />
            {{ end }}
        {{ end }}
    </section>
{{ end }}
