{{ define "main" }}
    {{ .Content }}
    <div class="gallery">
        {{ range .Pages.ByWeight.Reverse }}
            {{ $thumbnail := index (.Resources.ByType "image") 0 }}
            {{ $thumbnail := $thumbnail.Resize "x300" }}
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                <img
                    src="{{ $thumbnail.RelPermalink }}"
                    loading="lazy"
                    alt="{{ .Description }}"
                />
            </a>
        {{ end }}
    </div>
{{ end }}
