{{ define "main" }}
    {{ .Content }}
    <div class="mt-10 flex flex-wrap justify-center gap-4">
        {{ range .Pages.ByWeight.Reverse }}
            {{ $thumbnail:=index (.Resources.ByType "image") 0 }}
            {{ $thumbnail:=$thumbnail.Resize "x300" }}
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                <img
                    src="{{ $thumbnail.RelPermalink }}"
                    loading="lazy"
                    alt="{{ .Description }}"
                    class="rounded-xl" />
            </a>
        {{ end }}
    </div>
{{ end }}
