<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{ partial "head/meta.html" . }}
        {{ partial "head/styles.html" . }}
        {{ partial "head/scripts.html" . }}
        {{ partial "head/favicon.html" . }}
        {{ partial "head/title.html" . }}
    </head>

    <body>
        <header>{{ partial "header/nav.html" . }}</header>
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
        <footer>{{ partial "footer/footer.html" . }}</footer>
    </body>
</html>
