<!-- stylesheets -->
{{ with resources.Get "scss/style.scss" }}
    {{ $opts := dict
        "enableSourceMap" "true"
        "outputStyle" "expanded"
        "targetPath" "css/style.css"
    }}
    {{ with . | toCSS $opts }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }}
{{ end }}


<!-- favicon -->
<link
    rel="icon"
    type="image/png"
    href="/img/icons/favicon/favicon-96x96.png"
    sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/img/icons/favicon/favicon.svg" />
<link rel="shortcut icon" href="/img/icons/favicon/favicon.ico" />
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/icons/favicon/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="ojasb" />
<link rel="manifest" href="/img/icons/favicon/site.webmanifest" />

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
    {{ if .Page.IsHome }}
        {{ .Site.Title }}
    {{ else }}
        {{ .Title }}
    {{ end }}
</title>

<!-- source-serif-4 font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
    rel="stylesheet"
/>
