<!doctype html>
<html lang="en">
    <head>
        {{ partial "head/meta.html" . }}
        {{ partial "head/styles.html" . }}
        {{ partial "head/favicon.html" . }}
        {{ partial "head/theme-switch.html" . }}
        {{ partial "head/title.html" . }}
    </head>
    <body
        class="bg-base text-text flex min-h-screen flex-col justify-center font-serif text-lg">
        <header class="sticky top-0 z-20">
            {{ partial "header/nav.html" . }}
        </header>
        <main
            class="m-auto mb-auto min-h-[calc(100vh-70px)] w-85/100 flex-1 py-8 md:max-w-[975px]">
            {{ block "main" . }}
            {{ end }}
        </main>
        <footer>
            {{ partial "footer/content.html" . }}
            {{ partial "footer/copyright.html" . }}
        </footer>
    </body>
</html>
