{{ define "main" }}
    <div class="w-full">
        <div
            class="mx-auto w-full max-w-[250px] md:float-right md:mb-[25px] md:ml-[25px]">
            {{ with resources.Get "images/self.jpg" }}
                {{ with .Resize "800x webp q80" }}
                    <img
                        class="rounded-md"
                        src="{{ .RelPermalink }}"
                        alt="Profile Image"
                        loading="lazy" />
                {{ end }}
            {{ end }}
        </div>
        {{ .Content }}
    </div>
{{ end }}
