<nav>
    <div class="navbox">
        <a href="/" class="home-link">
            <div class="logobox">
                {{ partialCached "logos/ojasb.svg" . }}
            </div>
        </a>
        <input type="checkbox" id="sidebar-active" />
        <label for="sidebar-active" class="open-sidebar-button">
            {{ partialCached "svg/menu.svg" . }}
        </label>
        <label id="overlay" for="sidebar-active"> </label>
        <div class="links-container">
            <label for="sidebar-active" class="close-sidebar-button">
                {{ partialCached "svg/close.svg" . }}
            </label>
            {{ $page := . }}
            {{ range .Site.Menus.main }}
                {{ if $page.IsMenuCurrent .Menu . }}
                    <a
                        href="{{ .URL }}"
                        title="{{ .Title }}"
                        class="active-page"
                    >
                        {{ .Name }}
                    </a>
                {{ else }}
                    <a
                        href="{{ .URL }}"
                        title="{{ .Title }}"
                        class="inactive-page"
                    >
                        {{ .Name }}
                    </a>
                {{ end }}
            {{ end }}
            <button id="theme-switch">
                {{ partialCached "svg/lightmode.svg" . }}
                {{ partialCached "svg/darkmode.svg" . }}
            </button>
        </div>
    </div>
</nav>
