<nav class="photonav">
    {{ $section := .CurrentSection.Pages.ByWeight.Reverse }}
    {{ $current := . }}
    {{ $index := 0 }}

    {{ range $i, $page := $section }}
        {{ if eq $page $current }}
            {{ $index = add $i 1 }}
        {{ end }}
    {{ end }}
    {{ $length := .CurrentSection.Pages.ByWeight.Len }}
    <p>{{ $index }} / {{ $length }}</p>
    {{ $image := index (.Resources.ByType "image") 0 }}
    {{ with $image }}
        <a href="{{ .RelPermalink }}" download>
            {{ partial "svg/download.svg" . }}
        </a>
    {{ end }}
    {{ with .Parent }}
        <a href="{{ .RelPermalink }}">{{ partial "svg/close.svg" . }}</a>
    {{ end }}
</nav>
